* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 200;
}

.content h1:hover{
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}